<script src="https://unpkg.com/lottie-web@5.10.0/build/player/lottie.min.js"></script>
<script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.8.11/dist/dotlottie-wc.js" type="module"></script>
<dotlottie-wc src="https://lottie.host/a82aa150-b781-4754-b8e7-9fe53b659e4b/bKqqcDyey8.lottie" style="width: 600px;height: 400px" autoplay loop></dotlottie-wc>
<script>https://lottie.host/a82aa150-b781-4754-b8e7-9fe53b659e4b/bKqqcDyey8.lottie</script>
<div class="text-center mt-20">
  <div id="lottie-success" class="w-72 mx-auto"></div>
  <h1 class="text-3xl font-bold text-green-600 mt-4">🎉 You Won the Auction!</h1>
</div>

<script>
  lottie.loadAnimation({
    container: document.getElementById('lottie-success'),
    renderer: 'svg',
    loop: true,
    autoplay: true,
    path: '/lottie/success.json'
  });
</script>